<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/anual.css"/>

    <title>Lider | Relatorio Anual</title>
</head>
<body>
    <header class="child" id="cabecalho">
        <div  class="arealogo">
            <img  type="jpg" src="../imgs/lider-sem-fundo.jpg"/>
        </div>
        <h1>comercial Lider</h1>
</header>
<main>
    <section class="caixa">
        <div class="main">
            <h2>Relatorio Anual</h2>
            <form class="filtro" id="ano" name="ano" method="post" action="/filtroAno">
                <div class="mes">
                    <label for="ano">ano referente:</label>
                    <input type="month" id="ano" name="ano">
                </div>
                <button class="verificar" id="verificar">verificar</button>
            </form>
            <div class="grafico"></div>
        </div>
        <div class="close">
            <a href="../index.html" class="confg" id="btn-02">voltar</a>
        </div>
    </section>
    <section class="sun">
            <header class="header">
                <p class="desc2">descrição</p>
                <p class="val2">entrada</p>
                <p class="val3">saida</p>
            </header>
            <div id="saleAno" class="saleAno">

            </div>
            <footer>
                <div class="totais">
                    <p>Entrada Anual</p>
                    <div id="inputAno" ></div>
                </div>
                <div class="totais"> 
                    <p>Saida Anual</p>
                    <div id="outputAno" ></div>
                </div>
            </footer>   
    </section>
    
</main>
    <script src="../controller/index.js"></script>
    <script src="../controller/database.js"></script>
</body>
</html>