<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mensal.css"/>

    <title>Lider | Relatorio Mensal</title>
</head>
<body>
    <header class="child" id="cabecalho">
        <div  class="arealogo">
            <img  type="jpg" src="../imgs/lider-sem-fundo.jpg"/>
        </div>
        <h1>comercial Lider</h1>
</header>
<main>
    <section class="caixa">
        <div class="main">
            <h2>Relatorio Mensal</h2>
            <div class="filtro">
                <div class="mes">
                    <label for="mes">mes referente:</label>
                    <input type="month" id="mes">
                </div>
                <button class="verificar">verificar</button>
            </div>
            <div class="grafico"></div>
        </div>
        <div class="close">
            <a href="../index.html" class="confg" id="btn-02">voltar</a>
        </div>
    </section>
    <section class="sun">
            <div>

            </div>
            <footer>

            </footer>   
    </section>
</main>
</body>
</html>