<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mensal.css"/>

    <title>Lider | Relatorio Mensal</title>
</head>
<body>
    <header class="child" id="cabecalho">
        <div  class="arealogo">
            <img  type="jpg" src="../imgs/lider-sem-fundo.jpg"/>
        </div>
        <h1>comercial Lider</h1>
</header>
<main>
    <section class="caixa">
        <div class="main">
            <h2>Relatorio Mensal</h2>
            <form id="formMes" class="filtro" method="post">
                <div id="formMes" class="mes">
                    <label for="mes">mes referente:</label>
                    <input type="month" id="mes" name="mes">
                </div>
                <button id="verificar" class="verificar">verificar</button>
            </form>
            <div class="grafico"></div>
        </div>
        <div class="close">
            <a href="../index.html" class="confg" id="btn-02">voltar</a>
        </div>
    </section>
    <section class="sun">
            <div id="saleMes">

            </div>
            <footer>
                <div class="totais">
                    <p>Entrada Mensal</p>
                    <div id="input" ></div>
                </div>
                <div class="totais"> 
                    <p>Saida Mensal</p>
                    <div id="output" ></div>
                </div>
            </footer>   
    </section>
</main>
<script src="../controller/index.js"></script>
<script src="../controller/database.js"></script>
</body>
</html>