@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    margin: 0;
}
body{
    background-color:#FF5C00;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.child{
    height: 70px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: left;
    align-items: center;
}
.arealogo{
    height: 90px;
    width: 100px;
    margin: -25px 0 0 60px;
}
.arealogo img{
    height: 100px;
    width: 105px;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
h1{
    text-transform: uppercase;
    margin-left: 300px;
    font-size: 4rem;
    font-family: 'Koulen';
    letter-spacing: 4px;
}
/*------- SECTION SUN---------*/
main .caixa{
    height:470px;
    width: 500px;
    text-align: center;
    position: relative;
}

.confg{
    font-size: 16px;
    background-color: rgb(221, 207, 187);
    width: 170px;
    font-weight: bold;
    border: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.confg:hover{
    background-color: rgb(161, 160, 158);
}
.main{
    display: flex;
    flex-direction: column;
}
.inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inf_data{
    display: flex;
    justify-content: space-between;
    width: 404px;
}

.descricao{
    margin-top: 15px;
    background-color: aliceblue;
    border: none;
    width: 400px;
    height: 35px;
    font-weight: bolder;
    cursor: pointer;
}
.descricao2{
    margin-top: 15px;
    width: 180px;
    height: 35px;
    border: none;
}

.descricao3{
    margin-top: 15px;
    width: 180px;
    height: 35px;
    
    border: none;
    padding-left: 15px;
    font-weight: bolder;
}
.descricao4{
    margin-top: 24px;
    margin-left: 40px;
    width: 150px;
    height: 20px;
    
    border: none;
    font-weight: bolder;

}
.operacao{
    margin-top: 20px;
    width: 180px;
    height: 50px;
    background-color: #025005;
    font-size: 36px;
    border-width: 0px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    cursor: pointer;
}
.operacao2{
    margin-top: 20px;
    margin-left: 20px;
    width: 180px;
    height: 50px;
    background-color: #FF0000;
    font-size: 36px;
    border-width: 0px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    cursor: pointer;
}
.operacao:hover{
    transform: scale(1.05, 1.05);
}
.operacao2:hover{
    transform: scale(1.05, 1.05);
}
nav{
    display: flex;
    padding: 0px;
    position: absolute;
    bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*------- SECTION SUN---------*/
main .sun{
    background-color: #d9d9d9;
    height:470px;
    width: 500px;
    position: relative;
}
.soma{
    background-color: #025005;
    padding: 5px;
    height: 40px;
    width: 250px;
    font-weight: bolder;
    
}
.soma2{
    background-color: #FF0000;
    padding: 5px;
    height: 40px;
    width: 250px;
    font-weight: bolder;
}
.total{
    display: flex;
}

h2{
    font-family: 'Koulen';
    font-size: 44pt;
    margin: 20px 0 20px 0;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: #315E32;
    height: 30px;
    width: 500px;
}    